*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
}
h1{
text-align: center;
color: cyan;
}
h3{
  padding-top: 50px;
  text-align: center;
}
#board{
  display: flexbox;
  color: lime;
  width: 300px;
  flex-wrap: wrap;
  padding-top: 50px;

}
#game{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.square{
  float: left;
  font-size: 60px;
  width: 100px;
  height: 100px;
  border: 2px solid white;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
}
#gameresult{
  padding-top: 50px;
  color: blue;
}
.square:nth-child(3n){
  border-right: 0;
}
.square:nth-child(3n+1){
  border-left: 0;
}
.square:nth-child(1), .square:nth-child(2) ,  .square:nth-child(3){
  border-top: 0;
}
.square:nth-child(7), .square:nth-child(8), .square:nth-child(9){
  border-bottom: 0;
}
#p1,#p2{
  float: left;
  color: darkred;
}
#p2{
  padding-left: 100px;
  color: yellowgreen;
}